<menu>
  <Routing cssClass="fa fa-map-signs" order="45">
    <General VisibleName="General" cssClass="fa fa-bolt fa-fw" url="/ui/quagga/general/index" order="1"/>
    <RIP VisibleName="RIP" cssClass="fa fa-bolt fa-fw" url="/ui/quagga/rip/index" order="10" />
    <OSPF VisibleName="OSPF" cssClass="fa fa-bolt fa-fw" url="/ui/quagga/ospf/index" order="20" />
    <!--<ISIS VisibleName="IS-IS" cssClass="fa fa-bolt fa-fw" url="/ui/quagga/isis/index" order="30" />-->
    <BGP VisibleName="BGPv4" cssClass="fa fa-bolt fa-fw" url="/ui/quagga/bgp/index" order="40" />
    <Diagnostics VisibleName="Diagnostics" cssClass="fa fa-medkit fa-fw" order="50">
      <General VisibleName="General" url="/ui/quagga/diagnostics/general" order="1" />
      <BGP VisibleName="BGPv4" url="/ui/quagga/diagnostics/index" order="40" />
      <OSPF VisibleName="OSPF" url="/ui/quagga/diagnostics/ospf" order="20" />
    </Diagnostics>
  </Routing>
</menu>
