<acl>
    <!-- unique acl key, must be globally unique for all acl's  -->
    <page-services-haproxy>
        <name>WebCfg - Services: HAProxy page</name>
        <description>Allow access to the 'Services: HAProxy' page.</description>
        <patterns>
            <pattern>ui/haproxy/*</pattern>
            <pattern>api/haproxy/*</pattern>
            <pattern>diag_logs_haproxy.php</pattern>
        </patterns>
    </page-services-haproxy>
</acl>
