<model>
    <mount>//kumy/xymon/client</mount>
    <description>Xymon client settings</description>
    <version>0.0.0</version>
    <items>
        <enabled type="BooleanField">
            <default>0</default>
            <Required>Y</Required>
        </enabled>
        <XYMSERVERS type="HostnameField">
            <Required>N</Required>
            <IpAllowed>Y</IpAllowed>
            <HostWildcardAllowed>N</HostWildcardAllowed>
            <FqdnWildcardAllowed>N</FqdnWildcardAllowed>
            <ZoneRootAllowed>N</ZoneRootAllowed>
            <AsList>Y</AsList>
            <FieldSeparator> </FieldSeparator>
        </XYMSERVERS>
    </items>
</model>
