<acl>
    <page-services-postfix>
        <name>Services: Postfix</name>
        <patterns>
            <pattern>ui/postfix/*</pattern>
            <pattern>api/postfix/*</pattern>
        </patterns>
    </page-services-postfix>
    <page-services-postfix-log>
        <name>Services: Postfix: Log File</name>
        <patterns>
            <pattern>ui/diagnostics/log/core/mail/*</pattern>
            <pattern>api/diagnostics/log/core/mail/*</pattern>
        </patterns>
    </page-services-postfix-log>
</acl>
