<model>
    <mount>//OPNsense/tailscale/settings</mount>
    <description>Tailscale general settings</description>
    <version>1.0.0</version>
    <items>
        <enabled type="BooleanField">
            <Default>0</Default>
            <Required>Y</Required>
        </enabled>
        <loginTimeout type="IntegerField">
            <Default>10</Default>
            <Required>Y</Required>
        </loginTimeout>
        <listenPort type="PortField">
            <Default>41641</Default>
            <Required>Y</Required>
        </listenPort>
        <acceptDNS type="BooleanField">
            <Default>1</Default>
            <Required>Y</Required>
        </acceptDNS>
        <advertiseExitNode type="BooleanField">
            <Default>0</Default>
            <Required>Y</Required>
        </advertiseExitNode>
        <useExitNode type=".\ExitNodeField"/>
        <acceptSubnetRoutes type="BooleanField">
            <Default>0</Default>
            <Required>Y</Required>
        </acceptSubnetRoutes>
        <enableSSH type="BooleanField">
            <Default>0</Default>
            <Required>Y</Required>
        </enableSSH>
        <disableSNAT type="BooleanField">
            <Default>0</Default>
            <Required>Y</Required>
        </disableSNAT>
        <peerRelayPort type="IntegerField">
            <Default>0</Default>
            <Required>Y</Required>
        </peerRelayPort>
        <subnets>
            <subnet4 type="ArrayField">
                <subnet type="NetworkField">
                    <NetMaskRequired>Y</NetMaskRequired>
                    <Strict>Y</Strict>
                    <Required>Y</Required>
                </subnet>
                <description type="DescriptionField"/>
            </subnet4>
        </subnets>
    </items>
</model>
