<menu>
    <Services>
        <DNSCrypt-Proxy cssClass="fa fa-lock fa-fw">
            <Configuration url="/ui/dnscryptproxy/general/index" order="10"/>
            <GeneralLog VisibleName="Log / General" order="20" url="/ui/diagnostics/log/dnscryptproxy/dnscrypt-proxy"/>
            <QueryLog VisibleName="Log / Queries" order="30"  url="/ui/diagnostics/log/dnscryptproxy/query"/>
            <NXLog VisibleName="Log / NX" order="40" url="/ui/diagnostics/log/dnscryptproxy/nx"/>
        </DNSCrypt-Proxy>
    </Services>
</menu>
