$colors: (
  orange: #EA7105,
  lightgrey: #2B2B2B,
  lightergrey: #232323,
  darkgrey: #C1C1c1,
  bordergrey: #E5E5E5,
  rebelgrey:  #404040,
);

$zindex: (
  header: 2,
  footer: 2,
  main: 1,
  sidebar: 3,
);

// format dashboard widget headers
.widgetdiv {
    .content-box-head {
        background: #454545 !important;
        color: map-get($colors, darkgrey) !important;
        padding-bottom: 1px !important;
        padding-top:  1px !important;
        padding-right: 1px !important;
        padding-left: 5px !important;
        min-height: 25px !important;

        .btn-group {
            .btn {
                color: map-get($colors, darkgrey) !important;
                background: #454545 !important;
                border: 0px;
                .glyphicon {
                    color: map-get($colors, darkgrey) !important;
                }
            }
        }
        .list-inline {
            li > h3 {
                padding-top: 4px;
            }
        }
    }
}

@font-face {
  font-family: 'SourceSansProBold';
  src: url('/ui/themes/opnsense/build/fonts/SourceSansPro-Bold/SourceSansPro-Bold.woff') format('woff'),
       url('/ui/themes/opnsense/build/fonts/SourceSansPro-Bold/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceSansProSemibold';
  src: url('/ui/themes/opnsense/build/fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.woff') format('woff'),
       url('/ui/themes/opnsense/build/fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'SourceSansProRegular';
  src: url('/ui/themes/opnsense/build/fonts/SourceSansPro-Regular/SourceSansPro-Regular.woff') format('woff'),
       url('/ui/themes/opnsense/build/fonts/SourceSansPro-Regular/SourceSansPro-Regular.ttf') format('truetype');
}

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/jumbotron";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/panels";
@import "bootstrap/responsive-embed";
@import "bootstrap/wells";
@import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

*{
    -webkit-font-smoothing: antialiased;
}

html, body{
  height: 100%;
  font-family: 'SourceSansProRegular';
}

body{
  touch-action: manipulation;
  min-width: 320px;
}

.page-head{
  background: map-get($colors, rebelgrey);
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: map-get($zindex, header);
}

.page-content{
  height: calc(100% - 52px);
  padding-top: 52px;
  position: relative;
  z-index: map-get($zindex, main);

  > .row{
    height: 100%;
  }
}

.page-content-head{
  background: map-get($colors, lightergrey);
  border-bottom: 1px solid rgba(#D9D9D9, .50);
  padding-bottom: 15px;
  padding-top: 20px;

  .navbar-nav{
    width: 100%;
  }

  h1,h2,h3{
    line-height: 1;
    margin: 0;
  }
}

.page-content-main{
  background: map-get($colors, lightgrey);
  min-height: calc(100% - 64px);
  padding: 15px 0 (15px + 58px);
}

.page-side{
  background: #222;
  border-right: 1px solid rgba(0,0,0,.15);
  height: 100% !important;
  height: calc(100% - 52px) !important;
  left: 0;
  overflow: auto;
  margin-top: 52px;
  position: fixed;
  top: 0;
  z-index: map-get($zindex, sidebar);

  @extend .hidden-xs;
}

.page-side-nav {

  &--active{
    background: map-get($colors, lightgrey);
    border-left: 3px solid map-get($colors, orange);
  }
}

.page-foot{
  background: map-get($colors, lightergrey);
  bottom: 0;
  border-top: 1px solid rgba(#D9D9D9, .50);
  font-size: 12px;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: map-get($zindex, footer);
}

.content-box{
  background: #333;
  border: 1px solid map-get($colors, bordergrey);

  @extend .clearfix;

  &-head{
  @extend .page-content-head;
  }

  &-main{
  //background: map-get($colors, lightgrey);
  padding-bottom: 15px;
  padding-top: 15px;
  }
}

.tab-content{
  border-top: 0px;
  padding: 0px 0;

  > .tab-content{
  margin-bottom: 0;
  padding: 0 15px;
  }

  .tab-content:last-child{
  margin-bottom: 0;
  }
}

.page-content-main [class^="col-"] + [class^="col-"]{
  padding-top: ($grid-gutter-width/2);
}

.brand-logo{
    display: none;

    @media (min-width: $screen-sm-min) {
        display: inline-block;
    }
}

.brand-icon{
    display: inline-block;

    @media (min-width: $screen-sm-min) {
        display: none;
    }
}

.col-sm-disable-spacer{
    @media (min-width: $screen-sm-min) {
        padding-top: 0 !important;
    }
}

.col-md-disable-spacer{
    @media (min-width: $screen-md-min) {
        padding-top: 0 !important;
    }
}

.col-lg-disable-spacer{
    @media (min-width: $screen-lg-min) {
        padding-top: 0 !important;
    }
}

.page-login{
    background: map-get($colors, lightgrey);

    .container{
        min-height: 100%;
        margin-bottom: -60px;

        &:after{
            height: 60px;
        }
    }
}

.login-foot{
    font-size: 12px;
}

.login-modal{

    &-container{
        background: #222;
        border: 1px solid map-get($colors, bordergrey);
        max-width: 400px;
        margin: 100px auto 15px auto;
    }

    &-head{
        background: map-get($colors, darkgrey);
        height: 75px;
        padding: 0 20px;
    }

    &-content{
        padding: 20px 20px 20px 20px;
    }

    &-foot{
        background: map-get($colors, lightgrey);
        border-top: 1px solid map-get($colors, bordergrey);
        height: 60px;
        padding: 20px 20px 0 20px;

        a{
            color: #7D7D7D;
            text-decoration: none;

            &:hover{
                color: darken(#7D7D7D, 10%);
                text-decoration: underline;
            }
        }
    }
}

.list-inline .btn-group-container{
    @media (min-width:$screen-sm-min){
        float:right;
    }
}

.btn.btn-fixed{
    max-width: 174px;
    width: 100%;
}

.progress-bar-placeholder{
    font-size: 12px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1;
}

/* BOOTSTRAP EDIT */
.list-group-item{
  border-left: none;
  border-right: none;

  &.collapsed .caret{
    border-bottom: 4px solid green;
    border-top: 0;
  }
}

/* COLLAPSE SIDEBAR */

main.page-content.col-lg-12 {
  padding-left: 90px;
}

#navigation.col-sidebar-left {
  width: 70px;
  background-color: transparent !important;
  overflow: hidden;
  > div {
    &.row {
      height: 100% !important;
      > nav.page-side-nav {
        width: 70px;
        background-color: #202020 !important;
        height: 100% !important;
      }
    }
    > nav > #mainmenu > div > {
      a.list-group-item {
        font-size: 11px;
        text-align: center;
        > span {
          &.fa, &.glyphicon {
            visibility: visible;
            font-size: 28px;
          }
          &.__iconspacer {
            padding-left: 7px;
            padding-right: 7px;
          }
        }
        width: 70px;
        height: 70px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 2px solid #393939;
      }
      div {
        &.collapsing > a.list-group-item {
          padding-left: 10px !important;
          font-size: 11px !important;
          display: block !important;
          position: absolute !important;
          left: 70px !important;
          margin-top: -70px !important;
        }
        &.collapse.in > div.collapsing > a.list-group-item {
          padding-left: 10px !important;
          font-size: 11px !important;
          display: block !important;
          position: absolute !important;
          left: 148px !important;
          margin-top: -28px !important;
        }
      }
      a.list-group-item.active-menu-title {
        color: #FFF !important;
        background-color: #2a2a2a !important;
      }
    }
  }
}

a.list-group-item.active-menu-title.collapsed {
  color: #FFF !important;
  background-color: #2a2a2a !important;
}

#navigation.col-sidebar-left > div > nav > #mainmenu > div > {
  a.list-group-item[aria-expanded="true"] {
    color: #ec6d12 !important;
    background-color: #2a2a2a !important;
  }
  div {
    &.collapse {
      &.in {
        > a.list-group-item[aria-expanded="true"] {
          color: #ec6d12 !important;
          background-color: #2a2a2a !important;
        }
        > div.collapse.in > a.list-group-item {
          padding-left: 10px !important;
          font-size: 11px !important;
          background-color: #393939e6 !important;
          &.menu-level-3-item.active {
            color: #ec6d12 !important;
            background-color: #2a2a2a !important;
          }
        }
      }
      > a.list-group-item {
        padding-left: 10px !important;
        font-size: 11px !important;
        background-color: #393939e6 !important;
      }
      > div.collapse > a.list-group-item {
        padding-left: 10px !important;
        font-size: 11px !important;
      }
    }
    &.collapsed > a.list-group-item {
      padding-left: 10px !important;
      font-size: 11px !important;
    }
    &.collapse.in > a.list-group-item:hover {
      color: #ec6d12 !important;
      background-color: #2a2a2a !important;
    }
  }
}

a.list-group-item:focus {
  color: #ec6d12 !important;
  background-color: #2a2a2a !important;
}

#navigation.col-sidebar-left > div > nav > #mainmenu > div > div.collapse.in > div.collapse.in > a.list-group-item:hover, a.list-group-item:focus {
  text-decoration: none !important;
  color: #ec6d12 !important;
  background-color: #2a2a2a !important;
}

#navigation.col-sidebar-left > div > nav > #mainmenu > div > div {
  &.collapse.in > a.list-group-item {
    &.active-menu-title, &.collapsed:focus, &:focus {
      color: #ec6d12 !important;
      background-color: #2a2a2a !important;
    }
  }
  &.active-menu.collapse.in > a.list-group-item.active {
    color: #ec6d12 !important;
    background-color: #2a2a2a !important;
  }
  &.collapse.in {
    width: 150px;
    font-size: 11px;
    display: block;
    z-index: 10;
    position: absolute;
    left: 70px;
    margin-top: -70px;
    height: auto;
    border: 1px solid #515151;
    -webkit-transition: width 0.1s;
    -o-transition: width 0.1s;
    transition: width 0.1s;
    -webkit-box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.5);
  }
  &.collapsing {
    width: 0px;
    font-size: 11px;
    position: absolute;
    display: block;
    z-index: 10;
    left: 70px;
    margin-top: -70px;
    height: auto;
    -webkit-box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.5);
  }
  &.collapse.in > div {
    &.collapse.in {
      width: 150px;
      font-size: 11px;
      display: block;
      z-index: 10;
      position: absolute;
      left: 148px;
      margin-top: -28px;
      height: auto;
      border: 1px solid #515151;
      -webkit-transition: width 0.1s;
      -o-transition: width 0.1s;
      transition: width 0.1s;
      -webkit-box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.5);
    }
    &.collapsing {
      width: 0px;
      font-size: 11px;
      position: absolute;
      display: block;
      z-index: 10;
      left: 148px;
      margin-top: -28px;
      height: auto;
      -webkit-box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.75);
    }
  }
}

/* Sub Level One */

/* Sub Level Two */

button.toggle-sidebar {
  &.glyphicon {
    &.glyphicon-chevron-left, &.glyphicon-chevron-right {
      position: absolute;
      -webkit-transition: all 0.1s ease;
      -moz-transition: all 0.1s ease;
      -o-transition: all 0.1s ease;
      -ms-transition: all 0.1s ease;
      transition: all 0.1s ease;
    }
    &.glyphicon-chevron-left:active, &.glyphicon-chevron-right:active {
      position: absolute;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    &.glyphicon-chevron-left:focus, &.glyphicon-chevron-right:focus {
      outline: none;
    }
  }
  color: #FFF;
  background-color: transparent;
  font-size: 14px;
  border: none;
  margin-top: 18px;
  float: left;
}

/* COLLAPSE SIDEBAR END*/

#navigation.collapse.in{
    display: block !important;
}

.list-group-submenu .list-group-item:last-child,
.collapse .list-group-item:last-child {
  border-bottom: none;
}

.dropdown-menu > li > a,
.dropdown-header {
  padding: 3px 10px;
}

.nav-tabs {
  margin-right: 1px;
  border-bottom: 1px solid darken(map-get($colors, bordergrey), 30%);
}

.nav-tabs > li {
  border-radius: 0px;
  border-top-right-radius: 10px;
  margin-right: 2px;
}

.nav-tabs > li > a {
  background: #232323;
  border-radius: 0px;
  border-top-right-radius: 10px;
  margin-right: 0px;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border-right: 1px solid darken(#232323, 5%);
  border-top: 1px solid darken(#232323, 5%);
  border-left: 1px solid darken(#232323, 5%);
  border-bottom: 1px solid darken(map-get($colors, bordergrey), 30%);
}

.nav-tabs > li.active > a {
  background: #555 !important;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-right: 1px solid darken(map-get($colors, bordergrey), 30%);
  border-top: 1px solid darken(map-get($colors, bordergrey), 30%);
  border-left: 1px solid darken(map-get($colors, bordergrey), 30%);
}

.nav-tabs > li > a.visible-lg-inline-block:not(.pull-right) {
  border-top-right-radius: 0px !important;
  padding-left: 10px !important;
  padding-right: 5px !important;
}

.nav-tabs > li > a.visible-lg-inline-block.pull-right {
  border-left: 0px !important;
  padding-left: 5px !important;
  padding-right: 10px !important;
}


.nav-tabs.nav-justified{
  border-right:1px solid map-get($colors, bordergrey);
  > li {
    border-bottom:1px solid map-get($colors, bordergrey);
    border-top:1px solid map-get($colors, bordergrey);
    border-left:1px solid map-get($colors, bordergrey);
    border-radius: 0px;
    background: map-get($colors, lightgrey);
  > a {
    color: map-get($colors, darkgrey);
    font-family: 'SourceSansProSemibold';

    @media (min-width:$screen-sm-min){
    border-bottom: 1px solid transparent;
  }
  }
  }

  > li.active > a{
  @media (max-width:$screen-xs-max){
    border-right: 0 !important;
  }
  }
  }

  > li.active + li > a{
  @media (min-width:$screen-sm-min){
    border-left: 1px solid transparent;
  }
  }

  > li:last-child > a{
    border-right:1px solid transparent !important;

    @media (max-width:$screen-xs-max){
    margin-bottom: 0;
  }
  }

.btn .glyphicon {
    vertical-align: -1px;
}

.btn-default .glyphicon {
    color: #A1A1S1;
}

table{
    width: 100%;
}

.table {
    margin-bottom: 0px !important;
}

.nav-tabs-justified, .nav-tabs.nav-justified {
    .nav-tabs.nav-justified > .active > a:focus {
        border: 0px !important;
    }
}

.table th, strong, b{
    font-family: 'SourceSansProSemibold';
    font-weight: normal;
}

.table > tbody > tr > td:last-child{
    padding-right: 15px;
}

/* helpers */
.__nowrap{
    white-space: nowrap;
}

.__nomb{
    margin-bottom: 0;
}

.__mb{
    margin-bottom: 15px;
}

.__mt{
    margin-top: 15px;
}

.__ml{
    margin-left: 15px;
}

.__mr{
    margin-right: 15px;
}

.__iconspacer{
    padding-right: 10px;
}

#mainmenu .glyphicon{
    vertical-align: -2px;
}

.list-group-item{
    overflow: hidden;
    text-overflow: ellipsis;

    + div.collapse{
        margin-bottom: -1px;
    }

    + div > a{
        padding-left: 44px;
    }

    &:before{
        background: #EA7105;
        content: "";
        height: 42px;
        min-height: 100%;
        left: 0;
        position: absolute;
        top: 0px;
        width: 0;

        -webkit-transition: width .2s;
        -moz-transition: width .2s;
        -o-transition: width .2s;
        transition: width .2s;

    }

}

.list-group-submenu a{
    padding-left: 56px;
}

.active-menu-title, .active-menu a{
    text-decoration: none;
    position: relative;
    background-color: #262626;

    &:before{
        width: 3px;
    }

    &.active{
        background-color: #454545;
    }
}

.active-menu a:before{
    background: #ED9A50;
}

.alert.alert-danger{
    color: #FFF !important;
}

.nav-tabs-justified>li>a, .nav-tabs.nav-justified>li>a{
    border-radius: 0 !important;
}

.navbar-brand{
    padding: 10px 20px;
}

.label-opnsense {
  /* emulates btn */
  border: 1px solid transparent;
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.label-opnsense-sm {
  /* emulates btn-sm */
  padding: 5px 10px;
}

.label-opnsense-xs {
  /* emulates btn-xs */
  padding: 1px 5px;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-button {
  width: 8px;
  height:5px;
}
::-webkit-scrollbar-track {
  background: #2B2B2B;
  box-shadow: 0px 0px 0px;
  border-radius:0;
}
::-webkit-scrollbar-thumb {
  background: #e5e5e5;
  border: thin solid #e5e5e5;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background:#e5e5e5;
}

.widgetdiv {
    padding-top:0px !important;
    padding-bottom:20px;
}

select {
  overflow: hidden;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: right;
  background-image: url(/ui/themes/opnsense/build/images/caret.png) !important;}

  #grid-log th[data-column-id="__timestamp__"],
#filter-log-entries th[data-column-id="__timestamp__"] {
  min-width: 3.5em;
}

.table-responsive {
  @media screen and (max-width: $screen-xs-max) {
    margin-bottom: 0;
    > .table {
      > thead,
      > tbody,
      > tfoot {
        > tr {
          > th,
          > td {
            white-space: normal;
          }
        }
      }
    }
  }
}

label>input[type="checkbox"],
label>input[type="radio"] {
  margin-right: .4em;
  float:left;
}

div[data-for*="help_for"] {
  padding-top: .4em;
}

#log-settings label[for^="act"] {
  margin-right: 1.5em;
}

#log-settings table>tbody>tr>td {
  vertical-align: middle;
}

#log-settings select#filterlogentries,
#log-settings select#filterlogentriesupdateinterval {
  width: 5em;
}

#log-settings select#filterlogentriesinterfaces {
  min-width: 100%;
  max-width: 100%;
}

/* fields in firewall schedule */
[data-state="lightcoral"] {
  background-color: lightcoral;
}
[data-state="white"] {
  background-color: inherit;
}
[data-state="red"] {
  background-color: #ec6d12;
}
#tab_1 #maintabs {
  border-bottom: 1px solid #565656;
}

textarea#update_status {
  color: inherit !important;
  background-color: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  &:hover {
    color: inherit !important;
    background-color: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
  }
}

.fa-toggle-off::before {
  color: #ec6d12 !important;
  outline: none !important;
}

.fa-toggle-on::before {
  outline: none !important;
}

.fa-search, .glyphicon-search::before {
  content: "\e003";
  color: #FFFFFF !important;
}

.fa-times-circle::before {
  content: "\f057";
  color: #B13116;
}

.fa-refresh::before {
  content: "\f021";
  color: #FFF;
}

.fa-question-circle::before {
  content: "\f059";
  cursor: pointer;
  color: #ec6d12;
}

#navigation > .fa-search::before, .fa-refresh::before {
  color: inherit !important;
}

#totals .fa-search::before {
  color: #FFF !important;
  background-color: #ec6d12;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #5A5A5A;
}

.panel-heading h3:hover {
  color: #FFFFFF;
  text-decoration: none;
}

h3 {
  &:focus {
    color: #FFFFFF;
    text-decoration: none;
  }
  &:link {
    color: #FFFFFF;
    text-decoration: underline;
  }
  &:hover, &:focus {
    color: #ec6d12;
    text-decoration: underline;
  }
}

text {
  &.nvd3, &.nv-axislabel, &.nv-legend-text {
    fill: #FFFFFF;
  }
}

.nvd3 .nv-axis {
  fill: #FFFFFF;
}

.nv-series-0 {
  stroke-opacity: 1;
  stroke-width: 1.5;
  fill-opacity: 0.5;
  fill: rgb(0, 151, 255) !important;
  stroke: rgb(0, 151, 255) !important;
}

.nv-controlsWrap.nvd3-svg circle.nv-legend-symbol {
  stroke-width: 1 !important;
  fill: rgb(143, 143, 143) !important;
  stroke: rgb(143, 143, 143) !important;
}

.table-condensed.table-hover {
  border: 1px solid #515151;
}

ul.TokensContainer {
  border-radius: 3px;
  -webkit-transition: border-color ease-in-out 0.1s, box-shadow ease-in-out 0.1s;
  -o-transition: border-color ease-in-out 0.1s, box-shadow ease-in-out 0.1s;
  transition: border-color ease-in-out 0.1s, box-shadow ease-in-out 0.1s;
  li.Token {
    color: #FFFFFF !important;
  }
}

div.Tokenize ul {
  &.TokensContainer {
    li.TokenSearch {
      color: #FFFFFF !important;
    }
    &:hover, &:focus {
      border-color: #ec6d12 !important;
      background-color: #2a2a2a !important;
      -webkit-box-shadow: inset 0 1px 1px rgb(0, 0, 0), 0 0 8px rgba(0, 0, 0, 0.6);
      box-shadow: inset 0 1px 1px rgb(0, 0, 0), 0 0 8px rgba(0, 0, 0, 0.6);
    }
    border: 1px solid #5a5a5a !important;
    background-color: #2a2a2a !important;
    color: #FFFFFF !important;
  }
  &.Dropdown {
    border: 1px solid #5a5a5a !important;
    background-color: #2a2a2a !important;
    color: #FFFFFF !important;
  }
  &.TokensContainer li {
    &.Token {
      background-color: #ce671c !important;
      border: 1px solid #303030 !important;
    }
    &.Placeholder {
      color: #505050 !important;
    }
    &.Token a.Close {
      color: #FFFFFF !important;
    }
  }
}

.bootgrid-table th {
  > .column-header-anchor {
    color: #fff !important;
    > {
      .icon, .glyphicon {
        color: #fff !important;
      }
    }
  }
  &:hover {
    background-color: #4b4b4b !important;
  }
}

.bootgrid-header .actionBar .btn-group > .btn-group .dropdown-menu, .bootgrid-footer .infoBar .btn-group > .btn-group .dropdown-menu {
  color: #fff;
  background-color: #2a2a2a;
  border-color: #1d1d1d;
}

.btn-group.bootstrap-select {
  &.open, &:hover {
    border-color: #323232 !important;
    color: #FFFFFF !important;
    background-color: #2d2d2d !important;
  }
}

.bootgrid-table td {
  &.loading, &.no-results {
    background: none !important;
  }
}

.bootgrid-header .actionBar .btn-group > .btn-group .dropdown-menu .dropdown-item:hover, .bootgrid-footer .infoBar .btn-group > .btn-group .dropdown-menu .dropdown-item:hover, .bootgrid-header .actionBar .btn-group > .btn-group .dropdown-menu .dropdown-item:focus, .bootgrid-footer .infoBar .btn-group > .btn-group .dropdown-menu .dropdown-item:focus {
  color: #FFF !important;
  text-decoration: none !important;
  background-color: #ec6d12 !important;
}

.bootgrid-header .search .glyphicon, .bootgrid-footer .search .glyphicon, .input-group-addon {
  top: 0;
  background-color: #ec6d12 !important;
  border: 1px solid #ec6d12 !important;
}

.nvtooltip {
  background-color: rgb(60, 60, 60) !important;
  color: rgba(0, 0, 0, 1) !important;
  border: 1px solid rgb(255, 127, 14) !important;
}

.glyphicon {
  &.glyphicon-play.text-muted, &.glyphicon-remove.text-muted, &.glyphicon-remove-sign.text-muted, &.glyphicon-info-sign.text-muted {
    color: #eac80a !important;
  }
}

.fa.fa-play.text-muted::before {
  color: #eac80a !important;
}

#system_log-widgets.content-box {
  border: none;
}

#chart, #chart_intf_in, #chart_intf_out, #chart_top_ports, #chart_top_sources, #traffic_graph_widget_chart_in, #traffic_graph_widget_chart_out {
  background-color: #292929;
  border: 1px solid #515151;
}
