//colors
$color_alto_approx: #d9d9d9;
$color_quill_gray_approx:  lightgrey;
$color_log_cabin_approx: #222;
$black_15: rgba(0,0,0,.15);
$color_mine_shaft_approx: #333;
$color_shady_lady_approx:  darkgrey;
$white: #fff;
$color_shark_approx: #2a2a2a;
$color_tuatara_approx: #393939;
$color_christine_approx: #ec6d12;
$color_fuscous_gray_approx: #515151;
$black_50: rgba(0, 0, 0, 0.5);
$black_75: rgba(0, 0, 0, 0.75);
$color_violet_eggplant_approx: #a1a;
$color_mango_tango_approx: #ea7105;
$color_tundora_approx: #454545;
$color_tan_hide_approx: #ed9a50;
$color_baltic_sea_approx: #2b2b2b;
$mercury: #e5e5e5;
$color_celeste_approx: #ccc;
$color_froly_approx: lightcoral;
$color_suva_gray_approx: #888888;
$color_gallery_approx: #eeeeee;
$color_chicago_approx: #565656;
$color_roof_terracotta_approx: #b13116;
$color_azure_radiance_approx: rgb(0, 151, 255);
$color_stack_approx: rgb(143, 143, 143);
$black: rgb(0, 0, 0);
$black_60: rgba(0, 0, 0, 0.6);
$color_gravel_approx: #4b4b4b;
$color_rangoon_green_approx: #1d1d1d;
$color_masala_approx: rgb(60, 60, 60);
$black_100: rgba(0, 0, 0, 1);
$color_flamenco_approx: rgb(255, 127, 14);
$color_corn_approx: #eac80a;

//fonts
$font_0: SourceSansProBold;
$font_1: SourceSansProSemibold;
$font_2: SourceSansProRegular;

//urls
$url_0: url(/ui/themes/opnsense/build/fonts/SourceSansPro-Bold/SourceSansPro-Bold.woff);
$url_1: url(/ui/themes/opnsense/build/fonts/SourceSansPro-Bold/SourceSansPro-Bold.ttf);
$url_2: url(/ui/themes/opnsense/build/fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.woff);
$url_3: url(/ui/themes/opnsense/build/fonts/SourceSansPro-Semibold/SourceSansPro-Semibold.ttf);
$url_4: url(/ui/themes/opnsense/build/fonts/SourceSansPro-Regular/SourceSansPro-Regular.woff);
$url_5: url(/ui/themes/opnsense/build/fonts/SourceSansPro-Regular/SourceSansPro-Regular.ttf);
$url_6: url(/ui/themes/opnsense/build/images/caret.png);

//@extend-elements
//original selectors
//#navigation.col-sidebar-left >div >nav >#mainmenu >div >div.collapse.in >div.collapse.in >a.list-group-item:hover, a.list-group-item:focus
%extend_1 {
	text-decoration: none !important;
	color: $color_christine_approx !important;
	background-color: $color_shark_approx !important;
}

//original selectors
//.nav-tabs >li >a, .nav-tabs >li >a:hover, .nav-tabs >li >a:focus
%extend_2 {
	border-right: 1px solid darken($color_log_cabin_approx, 5%);
	border-top: 1px solid darken($color_log_cabin_approx, 5%);
	border-left: 1px solid darken($color_log_cabin_approx, 5%);
	border-bottom: 1px solid darken(map-get($colors, bordergrey), 30%);
}

//original selectors
//.nav-tabs >li.active >a, .nav-tabs >li.active >a:hover, .nav-tabs >li.active >a:focus
%extend_3 {
	border-right: 1px solid darken(map-get($colors, bordergrey), 30%);
	border-top: 1px solid darken(map-get($colors, bordergrey), 30%);
	border-left: 1px solid darken(map-get($colors, bordergrey), 30%);
}

//original selectors
//.active-menu-title, .active-menu a
%extend_4 {
	text-decoration: none;
	position: relative;
	background-color: $color_shark_approx;
	&: before;
}

//original selectors
//&:hover, &:focus
%extend_5 {
	color: $color_christine_approx;
	text-decoration: underline;
	border-color: $color_christine_approx !important;
	background-color: $color_shark_approx !important;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: inset 0 1px 1px $black, 0 0 8px $black_60;
}

//original selectors
//.bootgrid-header .actionBar .btn-group >.btn-group .dropdown-menu, .bootgrid-footer .infoBar .btn-group >.btn-group .dropdown-menu
%extend_6 {
	color: $white;
	background-color: $color_shark_approx;
	border-color: $color_rangoon_green_approx;
}

//original selectors
//.bootgrid-header .actionBar .btn-group >.btn-group .dropdown-menu .dropdown-item:hover, .bootgrid-footer .infoBar .btn-group >.btn-group .dropdown-menu .dropdown-item:hover, .bootgrid-header .actionBar .btn-group >.btn-group .dropdown-menu .dropdown-item:focus, .bootgrid-footer .infoBar .btn-group >.btn-group .dropdown-menu .dropdown-item:focus
%extend_7 {
	color: $white !important;
	text-decoration: none !important;
	background-color: $color_christine_approx !important;
}

//original selectors
//.bootgrid-header .search .glyphicon, .bootgrid-footer .search .glyphicon, .input-group-addon
%extend_8 {
	top: 0;
	background-color: $color_christine_approx !important;
	border: 1px solid $color_christine_approx !important;
}


main {
	&: 1 {
		.content-box-head: ;
	}
	&.page-content.col-lg-12 {
		padding-left: 90px;
	}
}
.list-inline {
	li >h3: ;
	.btn-group-container {
		[WRAPPING_QUERY_5]: ;
	}
}
@font-face {
	font-family: $font_0;
	src: $url_0 format('woff'), $url_1 format('truetype');
}
@font-face {
	font-family: $font_1;
	src: $url_2 format('woff'), $url_3 format('truetype');
}
@font-face {
	font-family: $font_2;
	src: $url_4 format('woff'), $url_5 format('truetype');
}
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/jumbotron";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/panels";
@import "bootstrap/responsive-embed";
@import "bootstrap/wells";
@import "bootstrap/close";
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
@import "bootstrap/carousel";
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";
* {
}
html {
	height: 100%;
	font-family: $font_2;
}
body {
	height: 100%;
	font-family: $font_2;
	touch-action: manipulation;
	min-width: 320px;
}
.page-head {
	background: map-get($colors, rebelgrey);
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: map-get($zindex, header);
}
.page-content {
	height: calc(100% - 52px);
	padding-top: 52px;
	position: relative;
	z-index: map-get($zindex, main);
	>.row: ;
}
.page-content-head {
	background: map-get($colors, lightergrey);
	border-bottom: 1px solid rgba($color_alto_approx, .50);
	padding-bottom: 15px;
	padding-top: 20px;
	.navbar-nav: ;
}
h1 {
	line-height: 1;
	margin: 0;
}
h2 {
	line-height: 1;
	margin: 0;
}
h3 {
	line-height: 1;
	margin: 0;
	&: focus;
}
.page-content-main {
	background: map-get($colors, $color_quill_gray_approx);
	min-height: calc(100% - 64px);
	padding: 15px 0(15px +58px);
	[class^="col-"] + [class^="col-"] {
		padding-top: ($grid-gutter-width/2);
	}
}
.page-side {
	background: $color_log_cabin_approx;
	border-right: 1px solid $black_15;
	height: 100% !important;
	height: calc(100% - 52px) !important;
	left: 0;
	overflow: auto;
	margin-top: 52px;
	position: fixed;
	top: 0;
	z-index: map-get($zindex, sidebar);
	@extend .hidden-xs: ;
}
.page-side-nav {
	&--active: ;
}
.page-foot {
	background: map-get($colors, lightergrey);
	bottom: 0;
	border-top: 1px solid rgba($color_alto_approx, .50);
	font-size: 12px;
	padding: 20px 0;
	position: fixed;
	width: 100%;
	z-index: map-get($zindex, footer);
}
ul {
	&.TokensContainer {
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 3px;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: border-color ease-in-out 0.1s, box-shadow ease-in-out 0.1s;
		li.Token: ;
	}
	+ div.tab-content {
		border-top: 0 !important;
	}
}
.content-box {
	background: $color_mine_shaft_approx;
	border: 1px solid map-get($colors, bordergrey);
	@extend .clearfix: ;
	&-head: ;
}
&-main {
	//background: map-get($colors, $color_quill_gray_approx);
	padding-bottom: 15px;
	padding-top: 15px;
}
.tab-content {
	border-top: 0;
	padding: 0;
	>.tab-content: ;
	&:last-child {
		margin-bottom: 0;
	}
}
.brand-logo {
	display: none;
	[WRAPPING_QUERY_0]: ;
}
.brand-icon {
	display: inline-block;
	[WRAPPING_QUERY_1]: ;
}
.col-sm-disable-spacer {
	[WRAPPING_QUERY_2]: ;
}
.col-md-disable-spacer {
	[WRAPPING_QUERY_3]: ;
}
.col-lg-disable-spacer {
	[WRAPPING_QUERY_4]: ;
}
.page-login {
	background: map-get($colors, $color_quill_gray_approx);
	.container: ;
}
.login-foot {
	font-size: 12px;
}
.login-modal {
	&-container: ;
}
&-head {
	background: map-get($colors, $color_shady_lady_approx);
	height: 75px;
	padding: 0 20px;
}
&-content {
	padding: 20px;
}
&-foot {
	background: map-get($colors, $color_quill_gray_approx);
	border-top: 1px solid map-get($colors, bordergrey);
	height: 60px;
	padding: 20px 20px 0 20px;
	a: ;
}
.btn {
	&.btn-fixed {
		max-width: 174px;
		width: 100%;
	}
	.glyphicon {
		vertical-align: -1px;
	}
}
.progress-bar-placeholder {
	font-size: 12px;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 1;
}
.list-group-item {
	border-left: none;
	border-right: none;
	&.collapsed .caret: ;
	overflow: hidden;
	text-overflow: ellipsis;
	+div.collapse: ;
}
#navigation {
	&.col-sidebar-left {
		width: 70px;
		background-color: transparent !important;
		overflow: hidden;
		>div: ;
		> div > nav > #mainmenu > div {
			> {
				a.list-group-item[aria-expanded="true"]: ;
			}
			> div {
				&.collapse.in >a.list-group-item: ;
				&.collapse.in > div.collapse.in > a.list-group-item:hover {
					@extend %extend_1;
				}
			}
		}
	}
	&.collapse.in {
		display: block !important;
	}
	> .fa-search::before {
		color: inherit !important;
	}
}
& {
	&.__iconspacer {
		width: 50px;
		height: 30px;
		padding: 0;
	}
	&.collapsing {
		left: 70px;
		margin-top: -70px;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 2px 2px 1px 0 $black_50;
		width: 0;
		font-size: 12px;
		position: absolute;
		display: block;
		z-index: 10;
		left: 148px;
		margin-top: -28px;
		height: auto;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 2px 2px 1px 0 $black_75;
	}
	&:before {
		background: $color_mango_tango_approx;
		content: "";
		height: 42px;
		min-height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 0;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: width .2s;
	}
	&.active {
		background-color: $color_tundora_approx;
	}
	&:link {
		color: $white;
		text-decoration: underline;
	}
	&:hover {
		@extend %extend_5;
		background-color: $color_gravel_approx !important;
	}
	&:focus {
		@extend %extend_5;
	}
	&.Dropdown {
		border: 1px solid $color_chicago_approx !important;
		background-color: $color_shark_approx !important;
		color: $white !important;
	}
	&.Placeholder {
		color: $color_fuscous_gray_approx !important;
	}
	&.collapse.in {
		width: 150px;
		font-size: 12px;
		display: block;
		z-index: 10;
		position: absolute;
		left: 70px;
		margin-top: -70px;
		height: auto;
		border: 1px solid $color_fuscous_gray_approx;
		//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: width 0.1s;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 2px 2px 1px 0 $black_50;
		> div {
			&.collapse.in: ;
			&.collapsing > a.list-group-item {
				padding-left: 10px !important;
				font-size: 12px !important;
				display: block !important;
				position: absolute !important;
				left: 148px !important;
				margin-top: -28px !important;
			}
		}
		> a.list-group-item:hover {
			color: $color_christine_approx !important;
			background-color: $color_shark_approx !important;
		}
	}
	&.collapsed > a.list-group-item {
		padding-left: 10px !important;
		font-size: 12px !important;
	}
	&.active-menu.collapse.in > a.list-group-item.active {
		color: $color_christine_approx !important;
		background-color: $color_shark_approx !important;
	}
	&.TokensContainer li {
		&.Token: ;
	}
	&.Token a.Close {
		color: $white !important;
	}
}
div {
	&.collapsing >a.list-group-item: ;
	&.collapse: ;
	&.Tokenize ul {
		&.TokensContainer: ;
	}
}
.list-group-submenu {
	a {
		padding-left: 56px;
	}
	.list-group-item:last-child {
		border-bottom: none;
	}
}
.dropdown-header {
	padding: 3px 10px;
}
.nav-tabs {
	margin-right: 1px;
	border-bottom: 1px solid darken(map-get($colors, bordergrey), 30%);
	> li {
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0;
		//Instead of the line below you could use @include border-top-right-radius($radius)
		border-top-right-radius: 10px;
		margin-right: 2px;
		> a {
			background: $color_log_cabin_approx;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0;
			//Instead of the line below you could use @include border-top-right-radius($radius)
			border-top-right-radius: 10px;
			margin-right: 0;
			@extend %extend_2;
			&:hover {
				@extend %extend_2;
			}
			&:focus {
				@extend %extend_2;
			}
			&.visible-lg-inline-block {
				&.pull-right {
					border-left: 0 !important;
					padding-left: 5px !important;
					padding-right: 10px !important;
				}
				&:not(.pull-right) {
					//Instead of the line below you could use @include border-top-right-radius($radius)
					border-top-right-radius: 0 !important;
					padding-left: 10px !important;
					padding-right: 5px !important;
				}
			}
		}
		&.active > a {
			background: $color_fuscous_gray_approx !important;
			@extend %extend_3;
			&:hover {
				@extend %extend_3;
			}
			&:focus {
				@extend %extend_3;
			}
		}
	}
	&.nav-justified {
		border-right: 1px solid map-get($colors, bordergrey);
		>li: ;
		.nav-tabs.nav-justified >.active >a: focus;
		> li > a {
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 0 !important;
		}
	}
}
> li {
	&.active {
		> a {
			[WRAPPING_QUERY_7]: ;
		}
		+ li > a {
			[WRAPPING_QUERY_8]: ;
		}
	}
	&:last-child > a {
		border-right: 1px solid transparent !important;
		[WRAPPING_QUERY_9]: ;
	}
}
table {
	width: 100%;
}
.table {
	margin-bottom: 0 !important;
	th {
		font-family: $font_1;
		font-weight: normal;
	}
	> tbody > tr > td:last-child {
		padding-right: 15px;
	}
}
.nav-tabs-justified {
	.nav-tabs.nav-justified >.active >a: focus;
	> li > a {
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 0 !important;
	}
}
strong {
	font-family: $font_1;
	font-weight: normal;
}
b {
	font-family: $font_1;
	font-weight: normal;
}
.__nowrap {
	white-space: nowrap;
}
.__nomb {
	margin-bottom: 0;
}
.__mb {
	margin-bottom: 15px;
}
.__mt {
	margin-top: 15px;
}
.__ml {
	margin-left: 15px;
}
.__mr {
	margin-right: 15px;
}
.__iconspacer {
	padding-right: 10px;
}
.active-menu-title {
	@extend %extend_4;
}
.navbar-brand {
	padding: 10px 20px;
}
.label-opnsense {
	border: 1px solid transparent;
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	line-height: 1.5;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
}
.label-opnsense-sm {
	padding: 5px 10px;
}
.label-opnsense-xs {
	padding: 1px 5px;
}
::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-button {
	width: 8px;
	height: 5px;
}
::-webkit-scrollbar-track {
	background: $color_baltic_sea_approx;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0 0;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0;
}
::-webkit-scrollbar-thumb {
	background: $mercury;
	border: thin solid $mercury;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 0;
	&:hover {
		background: $mercury;
	}
}
.widgetdiv {
	padding-top: 0 !important;
	padding-bottom: 20px;
}
select {
	overflow: hidden;
	border: 1px solid $color_celeste_approx;
	appearance: none;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: right;
	background-image: $url_6 !important;
}
.table-responsive {
	[WRAPPING_QUERY_10]: ;
}
label {
	> input[type="checkbox"] {
		margin-right: .4em;
		float: left;
	}
	> input[type="radio"] {
		margin-right: .4em;
		float: left;
	}
}
div[data-for*="help_for"] {
	padding-top: .4em;
}
#log-settings {
	label[for^="act"] {
		margin-right: 1.5em;
	}
	select {
		&#filterlogentries {
			width: 5em;
		}
		&#filterlogentriesupdateinterval {
			width: 5em;
		}
		&#filterlogentriesinterfaces {
			min-width: 100%;
			max-width: 100%;
		}
	}
	table > tbody > tr > td {
		vertical-align: middle;
	}
}
[data-state="lightcoral"] {
	background-color: $color_froly_approx;
}
[data-state="white"] {
	background-color: inherit;
}
[data-state="red"] {
	background-color: $color_christine_approx;
}
.tokens-container {
	margin-top: 0;
	margin-bottom: 0;
}
#ipsec {
	#ipsec-mobile, #ipsec-tunnel, #ipsec-overview: ;
}
.ipsec-tab {
	background-color: $color_fuscous_gray_approx;
	color: $white;
	&.activetab {
		background-color: $color_suva_gray_approx;
		color: $color_gallery_approx;
	}
}
.fa-toggle-off::before {
	color: $color_christine_approx !important;
	outline: none !important;
}
.fa-toggle-on::before {
	outline: none !important;
}
.fa-search {
	content: "\e003";
	color: $white !important;
}
.glyphicon-search::before {
	content: "\e003";
	color: $white !important;
}
.fa-times-circle::before {
	content: "\f057";
	color: $color_roof_terracotta_approx;
}
.fa-refresh::before {
	content: "\f021";
	color: $white;
	color: inherit !important;
}
.fa-question-circle::before {
	content: "\f059";
	cursor: pointer;
	color: $color_christine_approx;
}
text {
	&.nvd3, &.nv-axislabel, &.nv-legend-text: ;
}
.nv-series-0 {
	stroke-opacity: 1;
	stroke-width: 1.5;
	fill-opacity: 0.5;
	fill: $color_azure_radiance_approx !important;
	stroke: $color_azure_radiance_approx !important;
}
.bootgrid-table {
	th {
		>.column-header-anchor: ;
	}
	td {
		&.loading, &.no-results: ;
	}
}
.bootgrid-header {
	.actionBar .btn-group > .btn-group .dropdown-menu {
		@extend %extend_6;
		.dropdown-item {
			&:hover {
				@extend %extend_7;
			}
			&:focus {
				@extend %extend_7;
			}
		}
	}
	.search .glyphicon {
		@extend %extend_8;
	}
}
.bootgrid-footer {
	.infoBar .btn-group > .btn-group .dropdown-menu {
		@extend %extend_6;
		.dropdown-item {
			&:hover {
				@extend %extend_7;
			}
			&:focus {
				@extend %extend_7;
			}
		}
	}
	.search .glyphicon {
		@extend %extend_8;
	}
}
.input-group-addon {
	@extend %extend_8;
}
.nvtooltip {
	background-color: $color_masala_approx !important;
	color: $black_100 !important;
	border: 1px solid $color_flamenco_approx !important;
}
.glyphicon {
	&.glyphicon-play.text-muted, &.glyphicon-remove.text-muted, &.glyphicon-remove-sign.text-muted, &.glyphicon-info-sign.text-muted: ;
}
#chart {
	background-color: $color_shark_approx;
	border: 1px solid $color_fuscous_gray_approx;
}
#chart_intf_in {
	background-color: $color_shark_approx;
	border: 1px solid $color_fuscous_gray_approx;
}
#chart_intf_out {
	background-color: $color_shark_approx;
	border: 1px solid $color_fuscous_gray_approx;
}
#chart_top_ports {
	background-color: $color_shark_approx;
	border: 1px solid $color_fuscous_gray_approx;
}
#chart_top_sources {
	background-color: $color_shark_approx;
	border: 1px solid $color_fuscous_gray_approx;
}
#traffic_graph_widget_chart_in {
	background-color: $color_shark_approx;
	border: 1px solid $color_fuscous_gray_approx;
}
#traffic_graph_widget_chart_out {
	background-color: $color_shark_approx;
	border: 1px solid $color_fuscous_gray_approx;
}
$colors:(orange: #EA7105 {
	.content-box-head: ;
}
lightgrey: #2B2B2B {
	.content-box-head: ;
}
lightergrey: #232323 {
	.content-box-head: ;
}
darkgrey: #C1C1c1 {
	.content-box-head: ;
}
bordergrey: #E5E5E5 {
	.content-box-head: ;
}
rebelgrey: #404040 {
	.content-box-head: ;
}
);$zindex:(header: 2 {
	.content-box-head: ;
}
footer: 2 {
	.content-box-head: ;
}
sidebar: 3 {
	.content-box-head: ;
}
);// format dashboard widget headers.widgetdiv {
	.content-box-head: ;
}
section.page-content-main {
	div.tab-content: ;
}
> nav > #mainmenu > div > {
	a.list-group-item: ;
}
width: 70px; height: 70px; padding-left: 0px; padding-right: 0px; padding-top: 12px; border-bottom: 2px solid #393939; {
}
a.list-group-item {
	&.active-menu-title {
		color: $white !important;
		background-color: $color_shark_approx !important;
		&.collapsed {
			color: $white !important;
			background-color: $color_shark_approx !important;
		}
	}
	&:focus {
		color: $color_christine_approx !important;
		background-color: $color_shark_approx !important;
		@extend %extend_1;
	}
}
> div.collapse {
	&.in > a.list-group-item {
		padding-left: 10px !important;
		font-size: 12px !important;
		background-color: $color_tuatara_approx !important;
		&.menu-level-3-item.active: ;
	}
	> a.list-group-item {
		padding-left: 10px !important;
		font-size: 12px !important;
	}
}
> a.list-group-item {
	padding-left: 10px !important;
	font-size: 12px !important;
	background-color: $color_tuatara_approx !important;
}
button.toggle-sidebar {
	&.glyphicon: ;
}
color: #FFF; background-color: transparent; font-size: 14px; border: none; margin-top: 18px; float: left; {
}
.collapse .list-group-item:last-child {
	border-bottom: none;
}
.dropdown-menu > li > a {
	padding: 3px 10px;
}
.btn-default .glyphicon {
	color: $color_violet_eggplant_approx1s1;
}
#mainmenu .glyphicon {
	vertical-align: -2px;
}
+ div > a {
	padding-left: 44px;
}
.active-menu a {
	@extend %extend_4;
	&:before {
		background: $color_tan_hide_approx;
	}
}
.alert.alert-danger {
	color: $white !important;
}
#grid-log th[data-column-id="__timestamp__"] {
	min-width: 3.5em;
}
#filter-log-entries th[data-column-id="__timestamp__"] {
	min-width: 3.5em;
}
#tab_1 #maintabs {
	border-bottom: 1px solid $color_chicago_approx;
}
textarea#update_status {
	color: inherit !important;
	background-color: none !important;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: none !important;
	border: none !important;
	&: hover;
}
#totals .fa-search::before {
	color: $white !important;
	background-color: $color_christine_approx;
	padding: 5px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	border: 1px solid $color_chicago_approx;
}
.panel-heading h3:hover {
	color: $white;
	text-decoration: none;
}
.nvd3 .nv-axis {
	fill: $white;
}
.nv-controlsWrap.nvd3-svg circle.nv-legend-symbol {
	stroke-width: 1 !important;
	fill: $color_stack_approx !important;
	stroke: $color_stack_approx !important;
}
.table-condensed.table-hover {
	border: 1px solid $color_fuscous_gray_approx;
}
border: 1px solid #5a5a5a !important; background-color: #2a2a2a !important; color: #FFFFFF !important; {
}
.btn-group.bootstrap-select {
	&.open, &: hover;
}
.fa.fa-play.text-muted::before {
	color: $color_corn_approx !important;
}
#system_log-widgets.content-box {
	border: none;
}
