<acl>
   <page-services-clamav>
      <name>Services: ClamAV</name>
      <patterns>
         <pattern>ui/clamav/*</pattern>
         <pattern>api/clamav/*</pattern>
         <pattern>ui/diagnostics/log/core/clamd/*</pattern>
         <pattern>api/diagnostics/log/core/clamd/*</pattern>
      </patterns>
   </page-services-clamav>
</acl>
