<menu>
    <VPN>
        <PPPoE cssClass="fa fa-tty fa-fw" order="110">
            <Settings order="10" url="/vpn_pppoe.php">
                <Edit url="/vpn_pppoe_edit.php*" visibility="hidden"/>
            </Settings>
            <LogFile order="20" VisibleName="Log File" url="/vpn_pppoe_log.php">
                <Type url="/vpn_pppoe_log.php*" visibility="hidden"/>
            </LogFile>
        </PPPoE>
    </VPN>
</menu>
