<form>
    <field>
        <id>ConfigSync.settings.enabled</id>
        <label>Enabled</label>
        <type>checkbox</type>
        <help>Enable this Configuration Sync feature.</help>
    </field>
    
    <field>
        <id>ConfigSync.settings.provider</id>
        <label>Storage Provider</label>
        <type>dropdown</type>
        <help>Storage provider to use for syncing configuration data.</help>
    </field>
    <field>
        <id>ConfigSync.settings.provider_key</id>
        <label>API Key</label>
        <type>text</type>
        <help><![CDATA[Storage provider API key.  Consider applying a storage-provider policy to this key that only permits <code>ListBucket</code> and <code>PutObject</code> operations within the storage-bucket and storage-path.]]></help>
    </field>
    <field>
        <id>ConfigSync.settings.provider_secret</id>
        <label>API Secret</label>
        <type>password</type>
        <help>Storage provider secret value associated with the API Key.</help>
    </field>
    <field>
        <id>ConfigSync.settings.storage_bucket</id>
        <label>Storage Bucket</label>
        <type>text</type>
        <help><![CDATA[Storage provider bucket name to be used.  The storage-bucket must exist prior to use, the Configuration Sync feature <em>will not</em> attempt to create the bucket for you.]]></help>
    </field>
    <field>
        <id>ConfigSync.settings.storage_path_prefix</id>
        <label>Storage Path Prefix</label>
        <type>text</type>
        <help><![CDATA[The base storage-path used to sync configuration data to.  The Configuration Sync feature <em>will</em> create the required storage-path if API key has permissions to do so.  It is recommended that you consider applying policy to the API Key that restricts access within the bucket to this storage-path only.]]></help>
    </field>
    <field>
        <id>ConfigSync.settings.monitor_daemon_interval</id>
        <label>Monitor Interval</label>
        <type>text</type>
        <help><![CDATA[The time interval in seconds between successive checks for configuration file changes that require syncing to the storage-provider.  The default setting is 10 seconds.]]></help>
    </field>
    <field>
        <id>ConfigSync.settings.system_host_id</id>
        <label>System Host Id</label>
        <type>info</type>
        <help><![CDATA[The System Host Id is generated by the underlying FreeBSD operating-system and is found in the file <code>/etc/hostid</code> on the OPNsense system.  This value is added as meta-data to files written to the storage-provider which provides a way to confirm the source system of those files.]]></help>
    </field>
    <field>
        <id>ConfigSync.settings.storage_provider_link</id>
        <label>Storage Provider Link</label>
        <type>info</type>
        <help><![CDATA[Link to the storage-provider path, opens a new browser tab.]]></help>
    </field>
    
</form>
