<form>
    <field>
        <id>ddclient.general.enabled</id>
        <label>Enable</label>
        <type>checkbox</type>
        <help>Enable ddclient</help>
    </field>
    <field>
        <id>ddclient.general.verbose</id>
        <label>Verbose</label>
        <type>checkbox</type>
        <advanced>true</advanced>
        <help>Enable verbose logging</help>
    </field>
    <field>
        <id>ddclient.general.allowipv6</id>
        <label>Allow IPv6</label>
        <type>checkbox</type>
        <advanced>true</advanced>
        <help>Allow IPv6 for updates</help>
    </field>
    <field>
        <id>ddclient.general.daemon_delay</id>
        <label>Interval</label>
        <type>text</type>
        <help>Interval in seconds to check for address changes</help>
    </field>
</form>
