<acl>
    <page-services-apcupsd>
        <name>Services: Apcupsd System Monitoring page</name>
        <patterns>
            <pattern>api/apcupsd/service/*</pattern>
            <pattern>api/apcupsd/settings/*</pattern>
            <pattern>ui/apcupsd/*</pattern>
        </patterns>
    </page-services-apcupsd>
</acl>
