<menu>
  <Services>
    <tor VisibleName="Tor" cssClass="fa fa-bolt fa-fw">
      <configuration VisibleName="Configuration" url="/ui/tor/" />
      <info VisibleName="Information" url="/ui/tor/index/info" />
      <diagnostics VisibleName="Diagnostics" url="/ui/tor/index/diagnostics" />
    </tor>
  </Services>
</menu>
