<model>
    <mount>//OPNsense/bind/acl</mount>
    <description>BIND ACL configuration</description>
    <version>1.0.0</version>
    <items>
        <acls>
            <acl type="ArrayField">
                <enabled type="BooleanField">
                    <default>1</default>
                    <Required>Y</Required>
                </enabled>
                <name type="TextField">
                    <default></default>
                    <Required>Y</Required>
                    <mask>/^(?!any$|localhost$|localnets$|none$)[0-9a-zA-Z_\-]{1,32}$/u</mask>
                    <ValidationMessage>Should be a string between 1 and 32 characters. Allowed characters are 0-9, a-z, A-Z, _ and -. Built-in ACL names must not be used: any, localhost, localnets, none.</ValidationMessage>
                     <Constraints>
                        <check001>
                            <ValidationMessage>An ACL with this name already exists.</ValidationMessage>
                            <type>UniqueConstraint</type>
                        </check001>
                    </Constraints>
                </name>
                <networks type="NetworkField">
                    <default></default>
                    <FieldSeparator>,</FieldSeparator>
                    <Required>Y</Required>
                    <asList>Y</asList>
                </networks>
            </acl>
        </acls>
    </items>
</model>
