<acl>
    <page-services-wakeonlan>
        <name>Services: Wake on LAN</name>
        <patterns>
            <pattern>ui/wol/*</pattern>
            <pattern>api/wol/wol/*</pattern>
            <pattern>api/diagnostics/interface/get_arp*</pattern>
        </patterns>
    </page-services-wakeonlan>
</acl>
