<acl>
    <page-caddy>
        <name>Services: Caddy</name>
        <description>Allow access to Caddy</description>
        <patterns>
            <pattern>ui/caddy/*</pattern>
            <pattern>api/caddy/*</pattern>
            <pattern>ui/diagnostics/log/core/caddy/*</pattern>
            <pattern>api/diagnostics/log/core/caddy/*</pattern>
        </patterns>
    </page-caddy>
</acl>
