<acl>
    <page-caddy-general>
        <name>Services: Caddy Web Server: General Settings</name>
        <description>Allow access to Caddy General Settings</description>
        <patterns>
            <pattern>ui/caddy/general/*</pattern>
            <pattern>api/caddy/general/*</pattern>
        </patterns>
    </page-caddy-general>
    <page-caddy-reverse-proxy>
        <name>Services: Caddy Web Server: Reverse Proxy</name>
        <description>Allow access to Caddy Reverse Proxy</description>
        <patterns>
            <pattern>ui/caddy/reverse_proxy/*</pattern>
            <pattern>api/caddy/reverse_proxy/*</pattern>
        </patterns>
    </page-caddy-reverse-proxy>
    <page-caddy-diagnostics>
        <name>Services: Caddy Web Server: Diagnostics</name>
        <description>Allow access to Caddy Diagnostics</description>
        <patterns>
            <pattern>ui/caddy/diagnostics/*</pattern>
            <pattern>api/caddy/diagnostics/*</pattern>
        </patterns>
    </page-caddy-diagnostics>
</acl>
