<menu>
    <Services>
      <HAProxy VisibleName="HAProxy" cssClass="fa fa-truck fa-fw">
          <Settings order="10" url="/ui/haproxy">
              <GeneralSettings VisibleName="Service Settings" url="/ui/haproxy#subtab_haproxy-general-settings"/>
              <PeerSync VisibleName="Peers / Session Sync" url="/ui/haproxy#subtab_haproxy-general-peers"/>
              <GlobalParameters VisibleName="Global Parameters" url="/ui/haproxy#subtab_haproxy-general-global"/>
              <DefaultParameters VisibleName="Detault Parameters" url="/ui/haproxy#subtab_haproxy-general-defaults"/>
              <LoggingConfiguration VisibleName="Logging Configuration" url="/ui/haproxy#subtab_haproxy-general-logging"/>
              <StatisticsConfiguration VisibleName="Statistics Configuration" url="/ui/haproxy#subtab_haproxy-general-statistics"/>
              <Frontends VisibleName="Frontends" url="/ui/haproxy#frontends"/>
              <Backends VisibleName="Backends" url="/ui/haproxy#backends"/>
              <Servers VisibleName="Servers" url="/ui/haproxy#servers"/>
              <HealthChecks VisibleName="Health Checks" url="/ui/haproxy#healthchecks"/>
              <Actions VisibleName="Actions" url="/ui/haproxy#actions"/>
              <Acls VisibleName="ACLs" url="/ui/haproxy#acls"/>
              <Luas VisibleName="Lua Scripts" url="/ui/haproxy#luas"/>
              <Errorfiles VisibleName="Error Files" url="/ui/haproxy#errorfiles"/>
          </Settings>
          <Statistics order="20" url="/ui/haproxy/statistics">
              <Overview VisibleName="Overview" url="/ui/haproxy/statistics#info"/>
              <Status VisibleName="Status" url="/ui/haproxy/statistics#status"/>
              <Counters VisibleName="Counters" url="/ui/haproxy/statistics#counters"/>
              <StickTables VisibleName="Stick Tables" url="/ui/haproxy/statistics#tables"/>
          </Statistics>
          <Log VisibleName="Log File" order="30" url="/diag_logs_haproxy.php"/>
      </HAProxy>
    </Services>
</menu>
