<acl>
   <page-services-freeradius>
      <name>Services: FreeRADIUS</name>
      <patterns>
         <pattern>ui/freeradius/*</pattern>
         <pattern>api/freeradius/*</pattern>
      </patterns>
   </page-services-freeradius>

   <page-services-freeradius-users>
      <name>Services: FreeRADIUS Users</name>
      <patterns>
         <pattern>ui/freeradius/user/*</pattern>
         <pattern>api/freeradius/*</pattern>
      </patterns>
   </page-services-freeradius-users>

   <page-services-freeradius-logs>
      <name>Services: FreeRADIUS Logs</name>
      <patterns>
         <pattern>ui/diagnostics/log/core/radius/*</pattern>
         <pattern>api/diagnostics/log/core/radius/*</pattern>
      </patterns>
   </page-services-freeradius-logs>
</acl>
