<form>
    <tab id="nut-general" description="General Settings">
        <field>
            <id>nut.general.enable</id>
            <label>Enable Nut</label>
            <type>checkbox</type>
            <help>Enable or disable the nut service. If enabled, the system will shutdown when the UPS emits a low battery warning.</help>
        </field>
        <field>
            <id>nut.general.mode</id>
            <label>Service Mode</label>
            <type>dropdown</type>
            <help>Set the service mode. Currently only standalone and netclient are available.</help>
        </field>
        <field>
            <id>nut.general.listen</id>
            <label>Listen Address</label>
            <style>tokenize</style>
            <type>select_multiple</type>
            <allownew>true</allownew>
            <help>Set the addresses this service listen on.</help>
        </field>
    </tab>
    <tab id="nut-account" description="Nut Account Settings">
        <field>
            <id>nut.account.admin_password</id>
            <label>Admin Password</label>
            <type>text</type>
            <help>Set the password for admin user "admin".</help>
        </field>
        <field>
            <id>nut.account.mon_password</id>
            <label>Monitor Password</label>
            <type>text</type>
            <help>Set the password for monitoring user "monuser".</help>
        </field>
    </tab>
    <tab id="nut-netclient" description="Netclient">
        <field>
            <id>nut.netclient.enable</id>
            <label>Enable</label>
            <type>checkbox</type>
            <help>Enable the Netclient driver.</help>
        </field>
        <field>
            <id>nut.netclient.name</id>
            <label>Name</label>
            <type>text</type>
            <help>Set the name for the remote UPS.</help>
        </field>
        <field>
            <id>nut.netclient.address</id>
            <label>IP Address</label>
            <type>text</type>
            <help>Set the IP address of the remote NUT server.</help>
        </field>
        <field>
            <id>nut.netclient.port</id>
            <label>Port</label>
            <type>text</type>
            <help>Set the TCP port of the remote NUT server.</help>
        </field>
        <field>
            <id>nut.netclient.user</id>
            <label>Username</label>
            <type>text</type>
            <help>Set the username of the remote NUT server.</help>
        </field>
        <field>
            <id>nut.netclient.password</id>
            <label>Password</label>
            <type>password</type>
            <help>Set the password of the remote NUT server.</help>
        </field>
    </tab>

    <activetab>nut-general</activetab>
</form>
