<form>
    <tab id="nut-general" description="General Settings">
        <subtab id="nut-general-settings" description="General Nut Settings">
            <field>
                <id>nut.general.enable</id>
                <label>Enable Nut</label>
                <type>checkbox</type>
                <help>Enable or disable the nut service.</help>
            </field>
            <field>
                <id>nut.general.mode</id>
                <label>Service Mode</label>
                <type>dropdown</type>
                <help>Set the service mode. Currently only standalone and netclient are available.</help>
            </field>
            <field>
                <id>nut.general.name</id>
                <label>Name</label>
                <type>text</type>
                <help>Set a name for your UPS.</help>
            </field>
            <field>
                <id>nut.general.listen</id>
                <label>Listen Address</label>
                <style>tokenize</style>
                <type>select_multiple</type>
                <allownew>true</allownew>
                <help>Set the addresses this service listen on.</help>
            </field>
        </subtab>
        <subtab id="nut-general-account" description="Nut Account Settings">
            <field>
                <id>nut.account.admin_password</id>
                <label>Admin Password</label>
                <type>text</type>
                <help>Set the password for admin user "admin".</help>
            </field>
            <field>
                <id>nut.account.mon_password</id>
                <label>Monitor Password</label>
                <type>text</type>
                <help>Set the password for monitoring user "monuser".</help>
            </field>
        </subtab>
    </tab>
    <tab id="nut-ups-type" description="UPS Type">
        <subtab id="nut-ups-usbhid" description="USBHID-Driver">
            <field>
                <id>nut.usbhid.enable</id>
                <label>Enable</label>
                <type>checkbox</type>
                <help>Enable the USBHID driver.</help>
            </field>
            <field>
                <id>nut.usbhid.args</id>
                <label>Extra Arguments</label>
                <style>tokenize</style>
                <type>select_multiple</type>
                <allownew>true</allownew>
                <help>Set extra arguments for this UPS, e.g. "port=auto".</help>
            </field>
        </subtab>
        <subtab id="nut-ups-apcsmart" description="APCSMART-Driver">
            <field>
                <id>nut.apcsmart.enable</id>
                <label>Enable</label>
                <type>checkbox</type>
                <help>Enable the APCSMART driver.</help>
            </field>
            <field>
                <id>nut.apcsmart.args</id>
                <label>Extra Arguments</label>
                <style>tokenize</style>
                <type>select_multiple</type>
                <allownew>true</allownew>
                <help>Set extra arguments for this UPS, e.g. "port=auto".</help>
            </field>
        </subtab>
        <subtab id="nut-ups-apcupsd" description="APCUPSD-Driver">
            <field>
                <id>nut.apcupsd.enable</id>
                <label>Enable</label>
                <type>checkbox</type>
                <help>Enable the APCUPSD controlled devices driver.</help>
            </field>
            <field>
                <id>nut.apcupsd.hostname</id>
                <label>Hostname</label>
                <type>text</type>
                <help>Set the hostname or ip of the remote apcupsd server.</help>
            </field>
            <field>
                <id>nut.apcupsd.port</id>
                <label>Port</label>
                <type>text</type>
                <help>Set the port of the remote apcupsd server (optional).</help>
            </field>
        </subtab>
        <subtab id="nut-ups-bcmxcpusb" description="BCMXCPUSB-Driver">
            <field>
                <id>nut.bcmxcpusb.enable</id>
                <label>Enable</label>
                <type>checkbox</type>
                <help>Enable the PowerWare BCMXCPUSB driver.</help>
            </field>
            <field>
                <id>nut.bcmxcpusb.args</id>
                <label>Extra Arguments</label>
                <style>tokenize</style>
                <type>select_multiple</type>
                <allownew>true</allownew>
                <help>Set extra arguments for this UPS, e.g. "port=auto".</help>
            </field>
        </subtab>
        <subtab id="nut-ups-blazerusb" description="BlazerUSB-Driver">
            <field>
                <id>nut.blazerusb.enable</id>
                <label>Enable</label>
                <type>checkbox</type>
                <help>Enable the BlazerUSB driver.</help>
            </field>
            <field>
                <id>nut.blazerusb.args</id>
                <label>Extra Arguments</label>
                <style>tokenize</style>
                <type>select_multiple</type>
                <allownew>true</allownew>
                <help>Set extra arguments for this UPS, e.g. "port=auto".</help>
            </field>
        </subtab>
        <subtab id="nut-ups-blazerser" description="BlazerSerial-Driver">
            <field>
                <id>nut.blazerser.enable</id>
                <label>Enable</label>
                <type>checkbox</type>
                <help>Enable the BlazerSerial driver. Please be aware that this driver needs to run nut-tools as root.</help>
            </field>
            <field>
                <id>nut.blazerser.args</id>
                <label>Extra Arguments</label>
                <style>tokenize</style>
                <type>select_multiple</type>
                <allownew>true</allownew>
                <help>Set extra arguments for this UPS, e.g. "port=auto".</help>
            </field>
        </subtab>
        <subtab id="nut-ups-netclient" description="Netclient">
            <field>
                <id>nut.netclient.enable</id>
                <label>Enable</label>
                <type>checkbox</type>
                <help>Enable the Netclient driver.</help>
            </field>
            <field>
                <id>nut.netclient.address</id>
                <label>IP Address</label>
                <type>text</type>
                <help>Set the IP address of the remote NUT server.</help>
            </field>
            <field>
                <id>nut.netclient.port</id>
                <label>Port</label>
                <type>text</type>
                <help>Set the TCP port of the remote NUT server.</help>
            </field>
            <field>
                <id>nut.netclient.user</id>
                <label>Username</label>
                <type>text</type>
                <help>Set the username of the remote NUT server.</help>
            </field>
            <field>
                <id>nut.netclient.password</id>
                <label>Password</label>
                <type>password</type>
                <help>Set the password of the remote NUT server.</help>
            </field>
        </subtab>
        <subtab id="nut-ups-qx" description="QX-Driver">
            <field>
                <id>nut.qx.enable</id>
                <label>Enable</label>
                <type>checkbox</type>
                <help>Enable the QX driver.</help>
            </field>
            <field>
                <id>nut.qx.args</id>
                <label>Extra Arguments</label>
                <style>tokenize</style>
                <type>select_multiple</type>
                <allownew>true</allownew>
                <help>Set extra arguments for this UPS, e.g. "port=auto".</help>
            </field>
        </subtab>
        <subtab id="nut-ups-riello" description="Riello-Driver">
            <field>
                <id>nut.riello.enable</id>
                <label>Enable</label>
                <type>checkbox</type>
                <help>Enable the Riello driver.</help>
            </field>
            <field>
                <id>nut.riello.args</id>
                <label>Extra Arguments</label>
                <style>tokenize</style>
                <type>select_multiple</type>
                <allownew>true</allownew>
                <help>Set extra arguments for this UPS, e.g. "port=auto".</help>
            </field>
        </subtab>
        <subtab id="nut-ups-snmp" description="SNMP-Driver">
            <field>
                <id>nut.snmp.enable</id>
                <label>Enable</label>
                <type>checkbox</type>
                <help>Enable the SNMP driver.</help>
            </field>
            <field>
                <id>nut.snmp.args</id>
                <label>Extra Arguments</label>
                <style>tokenize</style>
                <type>select_multiple</type>
                <allownew>true</allownew>
                <help>Set extra arguments for this UPS, e.g. "community=public".</help>
            </field>
        </subtab>
    </tab>

    <activetab>nut-general-settings</activetab>
</form>
