<acl>
    <!-- unique acl key, must be globally unique for all acl's  -->
    <page-tinc-config>
        <name>WebCfg - VPN: Tinc configuration</name>
        <description>Allow access to the 'VPN: Tinc' page.</description>
        <patterns>
            <pattern>ui/tinc/*</pattern>
            <pattern>api/tinc/*</pattern>
        </patterns>
    </page-tinc-config>
</acl>
