<acl>
    <page-services-upnp>
        <name>Services: UPnP IGD &amp; PCP</name>
        <patterns>
            <pattern>services_upnp.php*</pattern>
        </patterns>
    </page-services-upnp>
    <page-services-upnp-active-port-maps>
        <name>Services: UPnP IGD &amp; PCP: Active Port Maps</name>
        <patterns>
            <pattern>status_upnp.php*</pattern>
        </patterns>
    </page-services-upnp-active-port-maps>
</acl>
