<acl>
    <page-service-upnp>
        <name>Services: UPnP IGD &amp; PCP</name>
        <patterns>
            <pattern>services_upnp.php*</pattern>
        </patterns>
    </page-service-upnp>
    <page-status-upnpstatus>
        <name>Services: UPnP IGD &amp; PCP: Active Port Maps</name>
        <patterns>
            <pattern>status_upnp.php*</pattern>
        </patterns>
    </page-status-upnpstatus>
</acl>
