<acl>
   <page-services-relayd>
      <name>Services: Relayd</name>
      <description>Allow access to the 'Services: Relayd' page.</description>
      <patterns>
         <pattern>ui/relayd/*</pattern>
         <pattern>api/relayd/*</pattern>
         <pattern>ui/diagnostics/log/core/relayd/*</pattern>
         <pattern>api/diagnostics/log/core/relayd/*</pattern>
      </patterns>
   </page-services-relayd>
</acl>
