<acl>
   <page-services-relayd>
      <name>Services: Load Balancer</name>
      <description>Allow access to the 'Services: Load Balancer' page.</description>
      <patterns>
         <pattern>ui/relayd/*</pattern>
         <pattern>api/relayd/*</pattern>
      </patterns>
   </page-services-relayd>
</acl>
