<acl>
    <page-diagnostics-logs-poes>
        <name>Diagnostics: Logs: PPPoE</name>
        <patterns>
            <pattern>vpn_pppoe_log.php*</pattern>
        </patterns>
    </page-diagnostics-logs-poes>
    <page-services-pppoeserver>
        <name>Services: PPPoE Server</name>
        <patterns>
            <pattern>vpn_pppoe.php*</pattern>
        </patterns>
    </page-services-pppoeserver>
    <page-services-pppoeserver-edit>
        <name>Services: PPPoE Server: Edit</name>
        <patterns>
            <pattern>vpn_pppoe_edit.php*</pattern>
        </patterns>
    </page-services-pppoeserver-edit>
</acl>
