{#- /usr/local/etc/dnscrypt-proxy/local_doh-cert_key.pem -#}
{%  set plugin_name = 'dnscrypt-proxy' %}
{%  if OPNsense[plugin_name]["enabled"] == '1' %}
{%      if OPNsense[plugin_name]["local_doh"]["enabled"] == '1' %}
{%          if OPNsense[plugin_name]["local_doh"]["cert_key"] is defined %}
{{- OPNsense[plugin_name]["local_doh"]["cert_key"] -}}
{%          endif %}
{%      endif %}
{%  endif %}
