<form>
    <field>
        <id>dnsmasqtounbound.enabled</id>
        <label>Enable</label>
        <type>checkbox</type>
        <help>Enable the dnsmasq lease watcher service.</help>
    </field>
    <field>
        <id>dnsmasqtounbound.watchleases</id>
        <label>Watch Dynamic Leases</label>
        <type>checkbox</type>
        <help>Register DHCP leases from dnsmasq in Unbound DNS.</help>
    </field>
    <field>
        <id>dnsmasqtounbound.watchstatic</id>
        <label>Watch Static Hosts</label>
        <type>checkbox</type>
        <help>Register static host reservations from dnsmasq in Unbound DNS.</help>
    </field>
    <field>
        <id>dnsmasqtounbound.domains</id>
        <label>Domain Filter</label>
        <type>select_multiple</type>
        <style>tokenize</style>
        <allownew>true</allownew>
        <help>Leave empty to register all domains. Specifying domains will exclude hosts from unlisted domains.</help>
    </field>
</form>
