{#- /usr/local/etc/dnscrypt-proxy/local_doh-cert.pem -#}

{%- set plugin_name = "dnscrypt-proxy" -%}
{#- Only do if service is enabled. -#}
{%- if OPNsense[plugin_name]["enabled"] == '1' -%}
{%-   if OPNsense[plugin_name]["local_doh"]["enabled"] == '1' -%}
{%-     if OPNsense[plugin_name]["local_doh"]["cert"] is defined -%}
{{- OPNsense[plugin_name]["local_doh"]["cert"] -}}
{%-     endif -%}
{%-   endif -%}
{%- endif -%}
