<acl>
    <page-services-letsencrypt>
        <name>Services: Let's Encrypt</name>
        <patterns>
            <pattern>ui/acmeclient/*</pattern>
            <pattern>api/acmeclient/*</pattern>
            <pattern>diag_logs_acmeclient.php</pattern>
        </patterns>
    </page-services-letsencrypt>
</acl>
