<menu>
    <VPN>
        <IPsec>
            <Tunnels order="10" VisibleName="Tunnel Settings [legacy]" url="/ui/ipsec/tunnels">
                <Phase1 url="/vpn_ipsec_phase1.php*" visibility="hidden"/>
                <Phase2 url="/vpn_ipsec_phase2.php*" visibility="hidden"/>
            </Tunnels>
            <Mobile order="20" VisibleName="Mobile Clients [legacy]" url="/vpn_ipsec_mobile.php">
                <Act url="/vpn_ipsec_mobile.php*" visibility="hidden"/>
            </Mobile>
        </IPsec>
    </VPN>
</menu>
