<menu>
    <Services>
        <UPnP VisibleName="UPnP IGD &amp; PCP" cssClass="fa fa-plug fa-fw">
            <Settings order="10" url="/services_upnp.php">
                <Edit url="/services_upnp.php?*" visibility="hidden"/>
            </Settings>
            <PortMaps VisibleName="Port Maps" order="20" url="/status_upnp.php"/>
        </UPnP>
    </Services>
</menu>
