<acl>
    <page-diagnostics-logs-l2tp>
        <name>Diagnostics: Logs: L2TP</name>
        <patterns>
            <pattern>vpn_l2tp_log.php*</pattern>
        </patterns>
    </page-diagnostics-logs-l2tp>
    <page-vpn-vpnl2tp>
        <name>VPN: L2TP</name>
        <patterns>
            <pattern>vpn_l2tp.php*</pattern>
        </patterns>
    </page-vpn-vpnl2tp>
    <page-vpn-vpnl2tp-users-edit>
        <name>VPN: L2TP: Users: Edit</name>
        <patterns>
            <pattern>vpn_l2tp_users_edit.php*</pattern>
        </patterns>
    </page-vpn-vpnl2tp-users-edit>
    <page-vpn-vpnl2tp-users>
        <name>VPN: L2TP: Users</name>
        <patterns>
            <pattern>vpn_l2tp_users.php*</pattern>
        </patterns>
    </page-vpn-vpnl2tp-users>
</acl>
