<acl>
   <page-services-zabbixproxy>
      <name>Services: Zabbix Proxy</name>
      <patterns>
         <pattern>ui/zabbixproxy/*</pattern>
         <pattern>api/zabbixproxy/*</pattern>
         <pattern>ui/diagnostics/log/zabbix/zabbix_proxy/*</pattern>
         <pattern>api/diagnostics/log/zabbix/zabbix_proxy/*</pattern>
      </patterns>
   </page-services-zabbixproxy>
</acl>
