<td class="time"><%= model.escape('time') %></td>
<td class="remote_ip"><%= model.escape('remote_ip') %></td>
<td class="username"><%= model.escape('username') %></td>
<td class="status"><%= model.escape('status') %></td>
<td class="size"><%= model.escape('size') %></td>
<td class="referer"><%= model.escape('http_referer') %></td>
<td class="user_agent"><%= model.escape('user_agent') %></td>
<td class="forwarded_for"><%= model.escape('forwarded_for') %></td>
<td class="request_line"><%= model.escape('request_line') %></td>
