<table class="table table-striped">
    <thead>
        <tr>
            <% if (log_type === 'errors') { %>
            <th>Date</th>
            <th>Time</th>
            <th>Severity</th>
            <th>Number</th>
            <th>Message</th>
            <% } else { %>
            <th>Time</th>
            <th>Remote IP</th>
            <th>Username</th>
            <th>Status</th>
            <th>Size</th>
            <th>Referer</th>
            <th>User Agent</th>
            <th>Forwarded For</th>
            <th>Request Line</th>
            <% } %>
        </tr>
        <tr class="filter">
            <% if (log_type === 'errors') { %>
            <td><input type="text" value="<%= model.escape('date') %>" name="date" /></td>
            <td><input type="text" value="<%= model.escape('time') %>" name="time" /></td>
            <td><input type="text" value="<%= model.escape('severity') %>" name="severity" /></td>
            <td><input type="text" value="<%= model.escape('number') %>" name="number" /></td>
            <td><input type="text" value="<%= model.escape('message') %>" name="message" /></td>
            <% } else { %>
            <td><input type="text" value="<%= model.escape('time') %>" name="time" /></td>
            <td><input type="text" value="<%= model.escape('remote_ip') %>" name="remote_ip" /></td>
            <td><input type="text" value="<%= model.escape('username') %>" name="username" /></td>
            <td><input type="text" value="<%= model.escape('status') %>" name="status" /></td>
            <td><input type="text" value="<%= model.escape('size') %>" name="size" /></td>
            <td><input type="text" value="<%= model.escape('http_referer') %>" name="http_referer" /></td>
            <td><input type="text" value="<%= model.escape('user_agent') %>" name="user_agent" /></td>
            <td><input type="text" value="<%= model.escape('forwarded_for') %>" name="forwarded_for" /></td>
            <td><input type="text" value="<%= model.escape('request_line') %>" name="request_line" /></td>
            <% } %>
        </tr>
    </thead>
    <tbody>
        <%= table_body %>
    </tbody>
</table>