<form>
    <tab id="mail-protection-general" description="General Mail Protection Settings">
        <subtab id="mail-protection-general-settings" description="General Mail Protection Settings">
            <field>
                <id>mail-protection.general.enabled</id>
                <label>Enable mail-protection</label>
                <type>checkbox</type>
                <help>Enable or disable the mail-protection service.</help>
            </field>
        </subtab>
        <subtab id="mail-protection-general-cache-local" description="Local Cache Settings">
            <field>
                <id>mail-protection.general.cache.local.cache_mem</id>
                <label>Memory Cache size in Megabytes</label>
                <type>text</type>
                <help><![CDATA[Enter the cache memory size to use or zero to disable completely.]]></help>
            </field>
        </subtab>
    </tab>
    <tab id="mail-protection-anti-spam" description="Spam Protection">
        <subtab id="mail-protection-anti-spam-graylist" description="Graylisting">
            <field>
                <id>mail-protection.graylist.expire</id>
                <label>Expiration</label>
                <type>text</type>
                <help>Time after which the graylist state expires in days.</help>
            </field>
            <field>
                <id>mail-protection.graylist.timeout</id>
                <label>Timeout</label>
                <type>text</type>
            </field>
            <field>
                <id>mail-protection.graylist.max_data_len</id>
                <label>Maximum Data Length</label>
                <type>text</type>
                <help>The limit of the length of data to hash.</help>
            </field>
            <field>
                <id>mail-protection.graylist.ipv4mask</id>
                <label>IPv4 Mask</label>
                <type>text</type>
                <help>Mask bits are used to limit the network range from which the message may be resent. This is used to avoid a rejection if another server sends the second mail.</help>
            </field>
            <field>
                <id>mail-protection.graylist.ipv6mask</id>
                <label>IPv6 Mask</label>
                <type>text</type>
                <help>Mask bits are used to limit the network range from which the message may be resent. This is used to avoid a rejection if another server sends the second mail.</help>
            </field>
        </subtab>
        <subtab id="mail-protection-anti-spam-dkim" description="DKIM">
          <!-- dkim -->
            <field>
                <id>mail-protection.dkim.cache_size</id>
                <label>Cache Size</label>
                <type>text</type>
            </field>
            <field>
                <id>mail-protection.dkim.cache_expire</id>
                <label>Cache Expire</label>
                <type>text</type>
            </field>
            <field>
                <id>mail-protection.dkim.time_jitter</id>
                <label>Time Jitter</label>
                <type>text</type>
            </field>
            <field>
                <id>mail-protection.dkim.trusted_only</id>
                <label>Trusted Only</label>
                <type>checkbox</type>
            </field>
            <field>
                <id>mail-protection.dkim.skip_multi</id>
                <label>Skip Multi</label>
                <type>checkbox</type>
            </field>
            <!-- dkim signing -->
            <field>
                <id>mail-protection.dkim.allow_envfrom_empty</id>
                <label>Allow Environment From Empty</label>
                <type>checkbox</type>
            </field>
            <field>
                <id>mail-protection.dkim.allow_hdrfrom_mismatch</id>
                <label>Allow Header From Mismatch</label>
                <type>checkbox</type>
            </field>
            <field>
                <id>mail-protection.dkim.allow_hdrfrom_multiple</id>
                <label>Allow Header From Multiple</label>
                <type>checkbox</type>
            </field>
            <field>
                <id>mail-protection.dkim.allow_username_mismatch</id>
                <label>Allow Username Mismatch</label>
                <type>checkbox</type>
            </field>
            <field>
                <id>mail-protection.dkim.auth_only</id>
                <label>Auth Only</label>
                <type>checkbox</type>
            </field>
            <field>
                <id>mail-protection.dkim.sign_local</id>
                <label>Sign Local</label>
                <type>checkbox</type>
            </field>
            <field>
                <id>mail-protection.dkim.try_fallback</id>
                <label>Try Fallback</label>
                <type>checkbox</type>
            </field>
            <field>
                <id>mail-protection.dkim.use_domain</id>
                <label>Use Domain</label>
                <type>dropdown</type>
            </field>
            <field>
                <id>mail-protection.dkim.use_esld</id>
                <label>Use eSLD</label>
                <type>checkbox</type>
            </field>
        </subtab>
        <subtab id="mail-protection-anti-spam-email" description="Email Blacklists">
            <field>
                <id>mail-protection.forward.interfaces</id>
                <label>Proxy interfaces</label>
                <type>select_multiple</type>
                <style>tokenize</style>
                <help><![CDATA[Select interface(s) the mail-protection will bind to.]]></help>
                <hint>Type or select interface.</hint>
            </field>
        </subtab>
        <subtab id="mail-protection-anti-spam-forged-recipient" description="Forged Recipient">
            <field>
                <id>mail-protection.forward.interfaces</id>
                <label>Proxy interfaces</label>
                <type>select_multiple</type>
                <style>tokenize</style>
                <help><![CDATA[Select interface(s) the mail-protection will bind to.]]></help>
                <hint>Type or select interface.</hint>
            </field>
        </subtab>
        <subtab id="mail-protection-anti-spam-milter-headers" description="Milter Headers">
            <field>
                <id>mail-protection.forward.interfaces</id>
                <label>Proxy interfaces</label>
                <type>select_multiple</type>
                <style>tokenize</style>
                <help><![CDATA[Select interface(s) the mail-protection will bind to.]]></help>
                <hint>Type or select interface.</hint>
            </field>
        </subtab>
        <subtab id="mail-protection-anti-spam-mx-check" description="MX Check">
            <field>
                <id>mail-protection.forward.interfaces</id>
                <label>Proxy interfaces</label>
                <type>select_multiple</type>
                <style>tokenize</style>
                <help><![CDATA[Select interface(s) the mail-protection will bind to.]]></help>
                <hint>Type or select interface.</hint>
            </field>
        </subtab>
        <subtab id="mail-protection-anti-spam-phishing" description="Phishing">
            <field>
                <id>mail-protection.forward.interfaces</id>
                <label>Proxy interfaces</label>
                <type>select_multiple</type>
                <style>tokenize</style>
                <help><![CDATA[Select interface(s) the mail-protection will bind to.]]></help>
                <hint>Type or select interface.</hint>
            </field>
        </subtab>
        <subtab id="mail-protection-anti-spam-rate-limit" description="Rate Limit">
            <field>
                <id>mail-protection.forward.interfaces</id>
                <label>Proxy interfaces</label>
                <type>select_multiple</type>
                <style>tokenize</style>
                <help><![CDATA[Select interface(s) the mail-protection will bind to.]]></help>
                <hint>Type or select interface.</hint>
            </field>
        </subtab>
        <subtab id="mail-protection-anti-spam-rbl" description="Remote Blacklists (RBL)">
            <field>
                <id>mail-protection.forward.interfaces</id>
                <label>Proxy interfaces</label>
                <type>select_multiple</type>
                <style>tokenize</style>
                <help><![CDATA[Select interface(s) the mail-protection will bind to.]]></help>
                <hint>Type or select interface.</hint>
            </field>
        </subtab>
        <subtab id="mail-protection-anti-spam-spamtrap" description="Spam Trap">
            <field>
                <id>mail-protection.spamtrap.enabled</id>
                <label>Enabled</label>
                <type>checkbox</type>
                <help>Enable this if you want to enable the spam trap.</help>
            </field>
            <field>
                <id>mail-protection.spamtrap.fuzzy_learning</id>
                <label>Fuzzy Leraning</label>
                <type>checkbox</type>
                <help>Enable this if you want to enable fuzzy learning.</help>
            </field>
            <field>
                <id>mail-protection.spamtrap.spam_learning</id>
                <label>Bayes Leraning</label>
                <type>checkbox</type>
                <help>Enable this if you want to enable bayes learning.</help>
            </field>
        </subtab>
        <subtab id="mail-protection-anti-spam-spf" description="Sender Policy Framework (SPF)">
            <field>
                <id>mail-protection.forward.interfaces</id>
                <label>Proxy interfaces</label>
                <type>select_multiple</type>
                <style>tokenize</style>
                <help><![CDATA[Select interface(s) the mail-protection will bind to.]]></help>
                <hint>Type or select interface.</hint>
            </field>
        </subtab>
    </tab>
    <tab id="mail-protection-anti-malware" description="Anti Malware">
        <subtab id="mail-protection-anti-malware-general" description="General Anti Malware Settings">
            <field>
                <id>mail-protection.anti-malware.force-reject</id>
                <label>Force Reject</label>
                <type>checkbox</type>
                <help>If set, the mail will be rejected.</help>
            </field>
            <field>
                <id>mail-protection.anti-malware.attachments-only</id>
                <label>Only Scan Attachments</label>
                <type>checkbox</type>
                <help>If checked, only attached files are scanned and images are omitted.</help>
            </field>
            <field>
                <id>mail-protection.anti-malware.max-size</id>
                <label>Maximum Size</label>
                <type>text</type>
                <help>If set, a message large than this size will not be scanned.</help>
            </field>
            <field>
                <id>mail-protection.anti-malware.whitelist</id>
                <label>Whitelist</label>
                <type>select_multiple</type>
                <style>tokenize</style>
                <help>Mails from IPs entered here will not be scanned.</help>
            </field>
        </subtab>
        <subtab id="mail-protection-anti-malware-surbl" description="SURBL">
            <field>
                <id>mail-protection.forward.interfaces</id>
                <label>Proxy interfaces</label>
                <type>select_multiple</type>
                <style>tokenize</style>
                <help><![CDATA[Select interface(s) the mail-protection will bind to.]]></help>
                <hint>Type or select interface.</hint>
            </field>
        </subtab>
    </tab>

    <activetab>mail-protection-general-settings</activetab>
</form>
