<form>
    <tab id="mail-protection-general" description="General Mail Protection Settings">
        <subtab id="mail-protection-general-settings" description="General Mail Protection Settings">
            <field>
                <id>mail-protection.general.enabled</id>
                <label>Enable mail-protection</label>
                <type>checkbox</type>
                <help>Enable or disable the mail-protection service.</help>
            </field>
        </subtab>
        <subtab id="mail-protection-general-cache-local" description="Local Cache Settings">
            <field>
                <id>mail-protection.general.cache.local.cache_mem</id>
                <label>Memory Cache size in Megabytes</label>
                <type>text</type>
                <help><![CDATA[Enter the cache memory size to use or zero to disable completely.]]></help>
            </field>
        </subtab>
    </tab>
    <tab id="mail-protection-anti-spam" description="Spam Protection">
        <subtab id="mail-protection-anti-spam-graylist" description="Graylisting">
            <field>
                <id>mail-protection.forward.interfaces</id>
                <label>Proxy interfaces</label>
                <type>select_multiple</type>
                <style>tokenize</style>
                <help><![CDATA[Select interface(s) the mail-protection will bind to.]]></help>
                <hint>Type or select interface.</hint>
            </field>
        </subtab>
        <subtab id="mail-protection-anti-spam-dkim" description="DKIM">
            <field>
                <id>mail-protection.forward.interfaces</id>
                <label>Proxy interfaces</label>
                <type>select_multiple</type>
                <style>tokenize</style>
                <help><![CDATA[Select interface(s) the mail-protection will bind to.]]></help>
                <hint>Type or select interface.</hint>
            </field>
        </subtab>
        <subtab id="mail-protection-anti-spam-email" description="Email Blacklists">
            <field>
                <id>mail-protection.forward.interfaces</id>
                <label>Proxy interfaces</label>
                <type>select_multiple</type>
                <style>tokenize</style>
                <help><![CDATA[Select interface(s) the mail-protection will bind to.]]></help>
                <hint>Type or select interface.</hint>
            </field>
        </subtab>
        <subtab id="mail-protection-anti-spam-forged-recipient" description="Forged Recipient">
            <field>
                <id>mail-protection.forward.interfaces</id>
                <label>Proxy interfaces</label>
                <type>select_multiple</type>
                <style>tokenize</style>
                <help><![CDATA[Select interface(s) the mail-protection will bind to.]]></help>
                <hint>Type or select interface.</hint>
            </field>
        </subtab>
        <subtab id="mail-protection-anti-spam-milter-headers" description="Milter Headers">
            <field>
                <id>mail-protection.forward.interfaces</id>
                <label>Proxy interfaces</label>
                <type>select_multiple</type>
                <style>tokenize</style>
                <help><![CDATA[Select interface(s) the mail-protection will bind to.]]></help>
                <hint>Type or select interface.</hint>
            </field>
        </subtab>
        <subtab id="mail-protection-anti-spam-mx-check" description="MX Check">
            <field>
                <id>mail-protection.forward.interfaces</id>
                <label>Proxy interfaces</label>
                <type>select_multiple</type>
                <style>tokenize</style>
                <help><![CDATA[Select interface(s) the mail-protection will bind to.]]></help>
                <hint>Type or select interface.</hint>
            </field>
        </subtab>
        <subtab id="mail-protection-anti-spam-phishing" description="Phishing">
            <field>
                <id>mail-protection.forward.interfaces</id>
                <label>Proxy interfaces</label>
                <type>select_multiple</type>
                <style>tokenize</style>
                <help><![CDATA[Select interface(s) the mail-protection will bind to.]]></help>
                <hint>Type or select interface.</hint>
            </field>
        </subtab>
        <subtab id="mail-protection-anti-spam-rate-limit" description="Rate Limit">
            <field>
                <id>mail-protection.forward.interfaces</id>
                <label>Proxy interfaces</label>
                <type>select_multiple</type>
                <style>tokenize</style>
                <help><![CDATA[Select interface(s) the mail-protection will bind to.]]></help>
                <hint>Type or select interface.</hint>
            </field>
        </subtab>
        <subtab id="mail-protection-anti-spam-rbl" description="Remote Blacklists (RBL)">
            <field>
                <id>mail-protection.forward.interfaces</id>
                <label>Proxy interfaces</label>
                <type>select_multiple</type>
                <style>tokenize</style>
                <help><![CDATA[Select interface(s) the mail-protection will bind to.]]></help>
                <hint>Type or select interface.</hint>
            </field>
        </subtab>
        <subtab id="mail-protection-anti-spam-spamtrap" description="Spam Trap">
            <field>
                <id>mail-protection.forward.interfaces</id>
                <label>Proxy interfaces</label>
                <type>select_multiple</type>
                <style>tokenize</style>
                <help><![CDATA[Select interface(s) the mail-protection will bind to.]]></help>
                <hint>Type or select interface.</hint>
            </field>
        </subtab>
        <subtab id="mail-protection-anti-spam-spf" description="Sender Policy Framework (SPF)">
            <field>
                <id>mail-protection.forward.interfaces</id>
                <label>Proxy interfaces</label>
                <type>select_multiple</type>
                <style>tokenize</style>
                <help><![CDATA[Select interface(s) the mail-protection will bind to.]]></help>
                <hint>Type or select interface.</hint>
            </field>
        </subtab>
    </tab>
    <tab id="mail-protection-anti-malware" description="Anti Malware">
        <subtab id="mail-protection-anti-malware-general" description="General Anti Malware Settings">
            <field>
                <id>mail-protection.forward.interfaces</id>
                <label>Proxy interfaces</label>
                <type>select_multiple</type>
                <style>tokenize</style>
                <help><![CDATA[Select interface(s) the mail-protection will bind to.]]></help>
                <hint>Type or select interface.</hint>
            </field>
        </subtab>
        <subtab id="mail-protection-anti-malware-surbl" description="SURBL">
            <field>
                <id>mail-protection.forward.interfaces</id>
                <label>Proxy interfaces</label>
                <type>select_multiple</type>
                <style>tokenize</style>
                <help><![CDATA[Select interface(s) the mail-protection will bind to.]]></help>
                <hint>Type or select interface.</hint>
            </field>
        </subtab>
    </tab>

    <activetab>mail-protection-general-settings</activetab>
</form>
