<acl>
    <page-diagnostics-logs-pptp>
        <name>Diagnostics: Logs: PPTP</name>
        <patterns>
            <pattern>vpn_pptp_log.php*</pattern>
        </patterns>
    </page-diagnostics-logs-pptp>
    <page-vpn-vpnpptp>
        <name>VPN: PPTP</name>
        <patterns>
            <pattern>vpn_pptp.php*</pattern>
        </patterns>
    </page-vpn-vpnpptp>
    <page-vpn-vpnpptp-user-edit>
        <name>VPN: PPTP: User: Edit</name>
        <patterns>
            <pattern>vpn_pptp_users_edit.php*</pattern>
        </patterns>
    </page-vpn-vpnpptp-user-edit>
    <page-vpn-vpnpptp-users>
        <name>VPN: PPTP: Users</name>
        <patterns>
            <pattern>vpn_pptp_users.php*</pattern>
        </patterns>
    </page-vpn-vpnpptp-users>
</acl>
